<div id="header">
<h1>Herb Guide</h1>
<div id="nav">
    <%= link_to 'Aloe', aloe_path %>
    <%= link_to 'Catnip', catnip_path %>
    <%= link_to 'Chamomile', chamomile_path %>
    <%= link_to 'Plantain', plantain_path %>
    <%= link_to 'Rosemary', rosemary_path %>
 </div>
</div>